.about-us{
    display: flex;
    flex-direction: row;
    
}

.about-container{
    width: fit-content;
}
.store-location{
    display: flex;
    padding: 50px;
    gap: 50px;
}

.store-info{
    width: 100%;
    display: grid;
}

.map-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.store-info h5{
    font-size: 2rem;
    margin-bottom: 50px;
}
.store-info p:nth-child(3){
    margin: 50px auto;
}

.about-h1{
    flex: 1;
    width: fit-content;
    font-size: 3rem;
    padding: 50px;

    
}

.map{
    width:100%;
    align-content: center;
    text-align: center;
    
}

.map img{
    width:500px;
    border: 2px solid gray;
}

.contact{
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black; 
   
    
}

.contact li a{
    text-decoration: none;
    color:rgb(82, 1, 20);
    
}


.contact li a:hover{
    color:rgb(238, 31, 79);
}

.contact li{
    margin: 10px auto;
    list-style-type: none;
}


@media (max-width:960px){
    .about-us{
        display: block;
    }

    .about-container{
        text-align: center;
    }

    .about-h1{
        margin-inline: auto;
        margin-top: 50px;
    }
}

