.about-us{
    display: grid;
    
}

.store-location{
    display: flex;
    padding: 50px;
    gap: 50px;
}

.store-info{
    width: 300px;
    display: grid;
}

.store-info h5{
    font-size: 32px;
    margin-bottom: 50px;
}
.store-info p:nth-child(3){
    margin: 50px auto;
}

.about-h1{
    flex: 1;
    width: 300px;
    font-size: 3rem;
    
}

.map{
    flex:2;
    width: 250px;
}

.map img{
    width: 100%;
}

.contact{
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black; 
   
    
}

.contact li a{
    text-decoration: none;
    color:rgb(82, 1, 20);
    
}


.contact li a:hover{
    color:rgb(238, 31, 79);
}

.contact li{
    margin: 10px auto;
    list-style-type: none;
}




