.products-item {
display: grid;
grid-template-columns: repeat(auto-fit, 250px);
gap:30px;
justify-content: center;
mix-blend-mode: multiply;
}

.products-item a{
    height: fit-content;
}

.products-label{
list-style-type: none;
text-align: left;
margin-top:30px;
font-size: 24px;
margin-bottom: 10px;
}

.products-size{
    font-size: 0.1 rem;
}

.color-box{
    width: 2px;
    height: 2px;
}

.color-tan{
    background-color: tan;
}

.product-head-image-size{
width: 100%;
height: 200px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.link-color > h4{
    font-size: 34px;
    color: rgb(238, 31, 79);;
    margin: 10px 0;
}

.link-color > .star-img{
    width: 150px;
    mix-blend-mode: multiply;
    
}

.add-to-cart{
    background-color:rgb(238, 31, 79);
    border: none;
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 10px 10px 10px;
    cursor: pointer;
    width: 93%;
    border-radius: 15px;
}

/* .sale-item{
    text-align: center;
    background-color: yellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */

.products-alignment{
    margin-left: 10px;
}
.products-item a h4{
    margin-left: 10px ;
}

.add-to-cart:hover{
    
    
    font-size: 1.2rem;
    transition: 0.1s ease;
}


.add-to-cart:active{
    background-color: transparent;
    color:rgb(238, 31, 79);
  
}
/* 
.head-title-container a:hover{
    background-color: none;
    border: 1px solid blanchedalmond;
  
  } */